accelerate==1.13.0
datasets==4.0.0
evaluate==0.4.6
levenshtein==0.27.3
numpy==2.2.6
peft==0.18.1
pillow==12.1.1
qwen-vl-utils==0.0.14
safetensors==0.7.0
scipy==1.15.3
torch==2.4.1
torchvision==0.19.1
tqdm==4.67.3
transformers==5.3.0
trl==0.29.1